<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>API_KEY</key>
  <string>AIzaSyCwWw-MeNV58wikpRcKRrxVPyXIg7iylZ8</string>
  <key>GCM_SENDER_ID</key>
  <string>601420637036</string>
  <key>PLIST_VERSION</key>
  <string>1</string>
  <key>BUNDLE_ID</key>
  <string>com.mod.melon.mcpe</string>
  <key>PROJECT_ID</key>
  <string>melon-mcpe-mod-minhduc</string>
  <key>STORAGE_BUCKET</key>
  <string>melon-mcpe-mod-minhduc.appspot.com</string>
  <key>IS_ADS_ENABLED</key>
  <false></false>
  <key>IS_ANALYTICS_ENABLED</key>
  <false></false>
  <key>IS_APPINVITE_ENABLED</key>
  <true></true>
  <key>IS_GCM_ENABLED</key>
  <true></true>
  <key>IS_SIGNIN_ENABLED</key>
  <true></true>
  <key>GOOGLE_APP_ID</key>
  <string>1:601420637036:ios:f6b9d162351767ff920949</string>
</dict>
</plist>
